appdirs==1.4.3
click==6.7
contextlib2==0.5.5
CouchDB==1.1
nameparser==0.5.2
nltk==3.2.2
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
python-dotenv==0.6.4
raven==6.0.0
six==1.10.0
SQLAlchemy==1.1.9
Unidecode==0.4.20
