appdirs==1.4.3
click==6.7
contextlib2==0.5.4
CouchDB==1.1
oauthlib==2.0.2
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
python-dotenv==0.6.4
raven==6.0.0
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
SQLAlchemy==1.1.9
tweepy==3.5.0
TwitterAPI==2.4.5
vaderSentiment==2.5